<!DOCTYPE html>
<html>
  <head>
    <title>App exemplo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
          <h2>Bem vindo</h2>
      </div>
    </div> <!-- /container -->

  </body>
</html>
